/** Base Styles **/
:root {
    --body-background-color:  hsl(230, 17%, 14%);
    --card-background-color: hsl(228, 28%, 20%);
    --link-color: hsl(228, 45%, 44%);
    --link-color-dark: #190070;
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-blue: hsl(228, 34%, 66%);
}

[data-theme="facebook"] {
    --border-top-color: hsl(195, 100%, 50%);
}

[data-theme="twitter"] {
    --border-top-color: hsl(203, 89%, 53%);
}

[data-theme="youtube"] {
    --border-top-color: hsl(348, 97%, 39%);
}

html {
    font-size: 125%;
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    font-weight: 400;
}

body {
    background-color: var(--body-background-color);
    padding: 3em;
}

/*** Main Container ***/

.main-container {
    max-width: 52.5em;
    margin: auto;
}

/*** Header ***/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

h1 {
    font-size: 1.5em;
    color: var(--text-color-white);
}

h2 {
    font-size: 1.3em;
    color: var(--text-color-white);
}

.header p,
.theme {
    font-size: 0.7em;
    font-weight: 700;
    color: var(--text-color-blue);
}

/*** Toggle Slider ***/

.toggle-theme {
    display: flex;
    align-items: center;
}

.toggle-theme span {
    padding-right: 1em;
}

 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 2.5em;
     height: 1em;
 }

 /* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: linear-gradient(hsl(210, 51%, 37%), hsl(146, 68%, 55%)); 
     transition: .4s;
 }

 .slider:before {
     position: absolute;
     content: "";
     height: 0.8em;
     width: 0.87em;
     left: 0.2em;
     bottom: 0.078em;
     background-color: var(--body-background-color);
     transition: .4s;
 }

 input:checked + .slider {
     background-color: #2196F3;
 }

 input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
 }

 input:checked + .slider:before {
     transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }


/*** First Dashboard Section ***/

.top-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    text-align: center;
    padding-bottom: 3em;
}

.main-dashboard,
.sub-dashboard {
    background: var(--card-background-color);
}

.main-dashboard {
    border-top: 0.25em solid var(--border-top-color);
    border-radius: 5px;
}

[data-theme="instagram"] {
    border-top: 0.25em solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: 
        linear-gradient(to right, hsl(228, 28%, 20%), hsl(228, 28%, 20%)),
        linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

[data-theme="instagram"]:hover {
    border-top: 0.25em solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:
      linear-gradient(hsl(231, 27%, 25%), hsl(231, 27%, 25%)),
      linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;  
}

.social-media-handle,
.social-media-stats,
.social-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-handle {
    padding-top: 2em;
}

.social-media-handle span {
    padding-left: 0.35em;
    font-size: 0.75em;
    color: var(--text-color-blue);
    font-weight: bold;
}

.social-media-numbers {
    padding-top: 0.4em;
    font-size: 2.5em;
    color: var(--text-color-white);
    font-weight: bold;
}

.subs-and-followers {
    text-transform: uppercase;
    color: var(--text-color-blue);
    letter-spacing: 0.15em;
    font-size: 0.75em;
}

.social-media-stats {
    padding: 1.2em 0;
}

.social-media-stats span {
    padding-left: 0.3em;
    font-size: 0.6em;
    font-weight: bold;
}

.stats-up {
    color: hsl(163, 72%, 41%);
}

.stats-down {
    color: hsl(356, 69%, 56%);
}

/** Second Dashboard Section **/

.bottom-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding-top: 1em;
}

.sub-dashboard {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    align-items: center;
    border-radius: 5px;
}

.sub-dashboard:hover,
.main-dashboard:hover {
    background-color: hsl(231, 27%, 25%);
}

.icon,
.social-stats {
    justify-self: end;
}

.sub-dashboard p:nth-of-type(1) {
    font-size: 0.7em;
    color: var(--text-color-blue);
    font-weight: 700;
}

.sub-dashboard p:nth-of-type(2) {
    font-size: 1.5em;
    color: var(--text-color-white);
    font-weight: 700;
    padding-top: 1em;
}

.social-stats {
    padding-top: 2.1em;
}

.social-stats span {
    padding-left: 0.3em;
    font-size: 0.6em;
    font-weight: bold;
}

/** Footer **/

.attribution {
    font-size: 0.8em;
    text-align: center;
    padding-top: 5em;
    color: hsl(0, 90%, 0%);
    font-weight: 600;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: 700;
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(0, 0%, 90%);
}

.attribution a:active {
    color: hsl(0, 0%, 60%);
}

/** Light Mode Styles **/

body.is-selected {
    background-color: hsl(0, 0%, 100%);
}

body.is-selected .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(0, 0%, 60%), hsl(0, 0%, 60%)); 
    transition: .4s;
}

body.is-selected h1{
    color: hsl(230, 17%, 14%);
}

body.is-selected .main-dashboard,
body.is-selected .sub-dashboard {
    background-color: hsl(227, 47%, 96%);
}

body.is-selected .social-media-numbers {
    color: hsl(230, 17%, 14%);
}

body.is-selected .sub-dashboard p:nth-of-type(2) {
    color: hsl(230, 17%, 14%);
}

body.is-selected .main-dashboard:hover,
body.is-selected .sub-dashboard:hover {
    background-color: hsl(231, 53%, 90%);
}

body.is-selected [data-theme="instagram"] {
    border-top: 0.25em solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: 
        linear-gradient(to right, hsl(227, 47%, 96%), hsl(227, 47%, 96%)),
        linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

body.is-selected [data-theme="instagram"]:hover {
    border-top: 0.25em solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:
      linear-gradient(hsl(231, 53%, 90%), hsl(231, 53%, 90%)),
      linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;  
}